.logo {
  color: #b28ef3;
  font-size: 1.5vw;
  border-right: 0.2vw solid #efedf1;
  padding-right: 3vw;
  font-weight: 700;
  margin-left: -13vw;
  margin-right: 2vw;
}

.logo:hover {
  color: #9f6cf7;
}

.barra {
  background-color: #fff;
  border-bottom: 0.2vw solid #b28ef3;
  width: 100vw;
}

.texto_barra {
  color: #fff;
}

.texto {
  color: #757575;
  margin-bottom: 2vw;
  font-size: 1.1vw;
}

.si {
  background-color: #f5f5f5;
  height: 100vh;
  position: fixed;
  display: flex;
  width: 100vw;
}

.title {
  margin-top: 1vw;
  color: #525252;
  text-align: center;
}

.accordion {
  margin-top: 1vw;
}

.botones {
  margin-top: 2vw;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.no {
  color: #fff;
}
